@import "tailwindcss";

@theme {
    /* Base Colors */

    /* ! Black */
    --color-black-light--1: oklch(0.31 0.004 84.58);
    --color-black-light: oklch(0.36 0.004 84.58);
    --color-black-light-1: oklch(0.41 0.004 84.58);

    --color-black: oklch(0.26 0.004 84.58);

    --color-black-dark--1: oklch(0.21 0.004 84.58);
    --color-black-dark: oklch(0.16 0.004 84.58);
    --color-black-dark-1: oklch(0.11 0.004 84.58);

    /* ! White */
    --color-white-light--1: oklch(0.8758 0.0183 81.32);
    --color-white-light: oklch(0.9258 0.0183 81.32);
    --color-white-light-1: oklch(0.9758 0.0183 81.32);

    --color-white: oklch(0.8258 0.0183 81.32);

    --color-white-dark--1: oklch(0.7758 0.0183 81.32);
    --color-white-dark: oklch(0.7258 0.0183 81.32);
    --color-white-dark-1: oklch(0.6758 0.0183 81.32);

    /* ! Primary Color (Blue) */
    --color-primary-light--1: oklch(0.6 0.0947 210);
    --color-primary-light: oklch(0.65 0.0947 210);
    --color-primary-light-1: oklch(0.7 0.0947 210);

    --color-primary: oklch(0.55 0.0947 210);

    --color-primary-dark--1: oklch(0.5 0.0947 210);
    --color-primary-dark: oklch(0.45 0.0947 210);
    --color-primary-dark-1: oklch(0.4 0.0947 210);

    /* ! Secondary Color (Red) */
    --color-secondary-light--1: oklch(0.32 0.0806 5.14);
    --color-secondary-light: oklch(0.37 0.0806 5.14);
    --color-secondary-light-1: oklch(0.42 0.0806 5.14);

    --color-secondary: oklch(0.27 0.0806 5.14);

    --color-secondary-dark--1: oklch(0.22 0.0806 5.14);
    --color-secondary-dark: oklch(0.17 0.0806 5.14);
    --color-secondary-dark-1: oklch(0.12 0.0806 5.14);

    /* ! Tertiary Color (Purple) */
    --color-tertiary-light--1: oklch(0.59 0.1186 303.58);
    --color-tertiary-light: oklch(0.64 0.1186 303.58);
    --color-tertiary-light-1: oklch(0.69 0.1186 303.58);

    --color-tertiary: oklch(0.54 0.1186 303.58);

    --color-tertiary-dark--1: oklch(0.49 0.1186 303.58);
    --color-tertiary-dark: oklch(0.44 0.1186 303.58);
    --color-tertiary-dark-1: oklch(0.39 0.1186 303.58);
}

@layer base {
    html,
    body,
    #app {
        @apply h-full;
    }

    body {
        @apply m-0 bg-primary-dark-1 text-white-dark font-sans overflow-hidden overscroll-none;
    }
}
